body{
	background: #e9e8e4 url('img/bg-grid.png');
}

header, footer{
	background-color: #272822;
}

.comment, .more-info, .imgwrapper, .menu-nav, .about{
	background-color: #EEE;
}

.daftar, .wrapper, .message, .image-item, .update-event, 
.event-details, .friends{
	background-color: #FFF;
}


h4, header a, .home-title, footer, .button{
	color: #FFF;
}	

.button, .home-title {
	background-color: #A90000; 
}

header a:hover, .menu-nav a, .name{
	color: #A90000; 
}
 
a:hover{
	color: #A90000;
}