/*style for index nextgigs.com C FADLYSETIAWAN 2014*/
body
{
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Oswald', sans-serif;
}

header{
	padding: 20px;
	color: #FFF;
}

h1,h2{
	margin: 1px;
	text-align: center;
}

p{
	text-align: center;
}
.layout{
	margin-right: 50px;
	width: 290px;
	height: 400px;
	position: relative;
	float: right;
	border-radius: 10px;
	background-color: #0F100D;
	opacity: 0.8;
	z-index: -999;
}

.layout-register{
	position: relative;
	margin-right: 50px;
	margin-top: 100px;
	width: 800px;
	height: 400px;
	border-radius: 10px;
	background-color: #0F100D;
	opacity: 0.8;
	z-index: -999;
}

.register{
	position: relative;	
	margin-top: -350px;
	left: 100px;
}

.input-container{
	position: relative;
	left: 250px;
	top: 50px;
	width: 200px;
	float: right;
	
}

.input-text{
	padding: 10px;
	margin-top: 30px; 
	border-radius: 5px;
	color: #A90000;
	border-style: none;
}

label{
	color: #FFF;
}

.button{
	margin-top: 50px;
	margin-left: 120px;
	border-style: none;
	border-radius: 10px;
	padding: 10px 50px;
	background-color: #A90000;
	color: #FFF;
	font-weight: bold;
	font-family: 'Oswald', sans-serif;	
}


.button-login{
	border-style: none;
	border-radius: 10px;
	padding: 10px 50px;
	background-color: #A90000;
	color: #FFF;
	font-weight: bold;
	font-family: 'Oswald', sans-serif;	
}


p{
	color: #FFF;
}
a{
	text-decoration: none;
	color: #A90000;
}

footer{
	color: #FFF;
	text-align: center;
	padding-top: 50px;
	clear: both;
}
