#loading{
	left:10px;
	position:relative;
	top:3px;
	visibility:hidden;
}

.error{
	background-color:#ffebe8;
	border:1px solid #dd3c10;
	padding:7px 3px;
	text-align:center;
	margin-top:10px;
	visibility:hidden;
}

.sukses{
	background-color:#f8fdf8;
	border:1px solid #2ca315;
	padding:7px 3px;
	text-align:center;
	margin-top:10px;
	visibility:hidden;
}
